<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="intellistock.fyp.pucit.intellistock" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".login_activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TradeScreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Category"
            android:label="@string/title_activity_category" >
        </activity>
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name=".MakePrediction"
            android:label="@string/title_activity_make_prediction" >
        </activity>
        <activity
            android:name=".MarketHistory"
            android:label="@string/title_activity_market_history" >
        </activity>
        <activity
            android:name=".StatusUpdate"
            android:label="@string/title_activity_status_update" >
        </activity>
        <activity
            android:name=".SystemPrediction"
            android:label="@string/title_activity_system_prediction" >
        </activity>
    </application>

</manifest>
